<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <title>
        <%=title%>
    </title>
</head>

<body>
    <input type="text" placeholder="userName" id="userName"/>  
    <select type="text" id="sex"> 
        <option value="1">男</option> 
        <option value="0">女</option> 
    </select>
    <input type="text" placeholder="age" id="age"/>  
    <input type="text" placeholder="phoneNumber" id="phoneNumber"/>  
 
    <button id="submitBtn">提交</button>

    <button id="clickMe">点我获取全部</button>
    <div id="userList"></div>
    <!--<img src="/static/img/success.png" alt="" width="40px" height="40px">-->
</body>
<script type="text/javascript" src="/static/javascript/libs/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/javascript/page/index.js"></script>

</html>